// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Brands
$brand-primary: #3399ff;
$brand-info: #a0d0ff;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

$btn-border-radius-base: 20px;

// Fonts
$icon-font-path : '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path:   '~font-awesome/fonts';