<div class="barra-top"></div>

<div class="container navbar-top">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="row">
                <div class="col-lg-4 col-xs-2 pull-left">
                    <img src="assets/img/logotipo_xs.png" alt="RunTime" />
                </div>
                <div class="col-lg-4 col-xs-10 pull-right text-right">
                    <div class="dropdown">
                        <button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ authService.getUsuario().email }} <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Alterar Senha</a></li>
                            <li><a (click)="authService.logout()">Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div class="container footer">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 text-center">
            <a href="https://github.com/LincolnLuiz/RunTime" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </div>
</div>